@page
@model AS_Assignment.Pages.Accounts.helpmeModel
@{
}
<p style="font-size: 0.1em">I hate this, it wouldn't work...</p>
<img style="width: 50%; height: 50%;" src="https://c.tenor.com/VFFJ8Ei3C2IAAAAM/rickroll-rick.gif" alt="lol" />